.container
  .row.mt-5
    .col-12
      %h1 Under construction
      -# %h1 Aliases
      -# %a.btn.btn-primary.float-end{href: "/aliases/new"}
      -#   New
      -# %table.table.table-striped
      -#   %thead
      -#     %tr
      -#       %th Alias
      -#       %th Actions
      -#   %tbody
      -#     %tr
      -#       %td chuckecheese
      -#       %td
      -#         = link_to 'edit', '#'
      -#         = link_to 'delete', '#'
      -#     %tr
      -#       %td lifeseemspointless
      -#       %td
      -#         = link_to 'edit', '#'
      -#         = link_to 'delete', '#'
