#app
  .container-sm
    %b Address:
    #address
    %b Balance:
    #balance
    %p
    %form{:name => "sendForm"}
      .form-group
        %label{:for => "recipient"} Recipient
        %input#recipient.form-control{:name => "recipient"}/
      .form-group
        %label{:for => "amount"} Amount
        .input-group
          %input#amount.form-control{:name => "amount"}/
          .input-group-append
            .input-group-text SCRT
      %button.btn.btn-primary{:type => "submit"} Submit
