.header-banner.bg-theme-grad-s2.keplr-wallet#secret-network-trade-pairs
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container
          .row.mb-5
            .col-lg-12
              .card
                .card-body
                  %h3 Trade pairs
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  .table-responsive
                    %table.table.table-striped#trade-pairs-table
