.container
  .row.mt-5
    .col-12
      %h1= features[:buttcoin][:name]
      %p Blockchain: #{features[:buttcoin][:blockchain]}
      %p Our native coin
      %hr
      %h5 Why is it worth anything?
      %p Governance and profit sharing.

      %h5 Why offer it?
      %ol
        %li Governance
        %li Profit sharing
        %li Incentive for early user's of our products. Risks are involved, there should be rewards.
        %li Revenue raising. Defi is exploding and we need to go guns blazing to be competitive.
