Balance:
%span.d-none{ class: "#{selector_prefix}-balance-loading" } Loading...
%span{ class: "#{selector_prefix}-balance-link" }
  %span{ class: "#{selector_prefix}-balance" } Connect wallet
  %button.btn.btn-light.btn-xxs.ml-2.mb-1.border.d-none{ type: 'button', class: "#{selector_prefix}-balance-view-button" }
    .d-none.loading
      %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
      %em Loading...
    .ready
      .fas.fa-search.mr-1
      View
