%footer.fixed-bottom#blockchain-stats{ style: 'border-top: 1px solid lightblue;', 'data-blockchain-id': blockchain.id, 'data-blockchain-identifier': blockchain.identifier }
  .bg-white
    .text-center
      %h6
        %span.mr-5
          Latest block time:
          %span#latest-block-time= blockchain.latest_block_time.seconds
          secs
