@import "@fortawesome/fontawesome-free";

.btn-group-toggle {
  .active {
    background-color: #c4cbff;
    border-color: #c4cbff;
    color: #415076 !important;;
  }
}

.logo-avatar {
  border-radius: 500rem;
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.08);
  height: 24px;
  vertical-align: top;
  width: 24px;
}

//=== MAILCHIMP ===
#mc-embedded-subscribe-form {
  #anti-spam-container {
    position: absolute;
    left: -5000px;
  }

  #mce-responses {
    .response {
      display: none;
    }
  }
}

// === TOASTR ===
#toast-container>div {
  opacity: 1 !important;
}

#toast-container {
  .toast-message {
    font-weight: 400;
  }
}

// === HOME ===
#home-features {
  .feature-center {
    padding-bottom: 130px;

    .feature-text {
      height: 0;
    }
  }
}

// === TABLE ===
.table {
  hr {
    border-style: dashed;
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
  }

  td,
  th {
    padding: .5rem !important;
  }
}
