.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container#secret-network-transactions
          .row.mb-5
            .col-12
              .card
                .card-body
                  %h3= features[:secret_network][:features][:transactions][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  = render 'environment_switch'
                  %p
                    * Viewing SNIP-20 transactions is live.
                    %br
                    Regular transactions and improved ui/ux in development.
                  %hr
                  %form{ name: 'secretNetworkTransactionsForm' }
                    .form-group
                      %label.form-label{ for: 'address' } Wallet address
                      %input.form-control#address{ name: 'address' }
                    .form-group
                      %label.form-label{ for: 'contract-address' } Contract address
                      %input.form-control#contract-address{ name: 'contractAddress' }
                    .row
                      .col-lg-6
                        .form-group#viewing-key-container
                          %label.form-label{ for: 'viewing-key' } Viewing key
                          .input-group
                            %input.form-control.border-right-0#viewing-key-input{ type: 'password', required: true, spellcheck: false, autocorrect: 'off', autocapitalize: 'off', autocomplete: 'off', name: 'viewingKey' }
                            .input-group-append
                              %span.input-group-text.bg-white.border-left-0
                                %i.fa.fa-eye
                    .row
                      .col-6.col-md-3
                        .form-group
                          %label.form-label{ for: 'page-size' } Show
                          %select.form-control#page-size{ name: 'pageSize' }
                            %option{ value: 50, selected: true } 50
                            %option{ value: 100 } 100
                            %option{ value: 1000 } 1000
                      .col-6.col-md-3
                        .form-group
                          %label.form-label{ for: 'page' } Page
                          %input.form-control#page{ type: 'number', name: 'page', value: '1', min: 1 }
                    %button.btn.btn-primary.btn-md#search-button{ type: 'submit' }
                      .d-none#loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      #ready
                        Search
                    .mb-5
                  %h6
                    Balance:
                    %span#balance
                  %table.table.table-striped.table-bordered#transactions-table
                  %p * Minting transactions are not included (e.g. receiving tokens via the bridge etc)
  .nk-ovm.shape-q
