.container#aliases-search
  .row.mt-5
    .col-lg-6.offset-lg-3
      .card
        .card-body
          = link_to 'New', new_secret_network_alias_path, class: 'btn btn-secondary float-end mb-3'
          %h3 Secret network alias
          %p Blockchain: #{features[:secret_network_alias][:blockchain]}
          %form{ name: 'aliasSearchForm' }
            .mb-3
              %input.form-control.w-100#secret-alias{ name: 'alias', required: true }
            %button.btn.btn-primary#search-button{ type: 'submit', disabled: true }
              #loading
                %span.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                %span Loading...
              .d-none#ready
                Search
      .card.mt-3.d-none#result
        .card-body
          %h3 Address
          %p#human-address
