.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .mt-3.w-100
        .container#near-smart-contract-interface
          .row.mb-5
            .col-lg-12
              .card
                .card-body
                  %h3= features[:near][:features][:smart_contract_interface][:name]
                  %p.mb-0
                    %b Blockchain:
                    = cl_image_tag(features[:near][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:near][:name].to_s
                  = render 'environment_switch'
                  %hr
                  %form{ name: 'nearSmartContractInterfaceForm' }
                    .form-group
                      %label.control-label Interaction type
                      .btn-group.btn-group-toggle.d-block{ 'data-toggle' => 'buttons' }
                        %label.btn.btn-light.btn-md
                          %input#handle{ name: 'interactionType', type: 'radio', value: 'handle' } Handle
                        %label.btn.btn-md.btn-light
                          %input#query{ name: 'interactionType', type: 'radio', value: 'query', checked: true } Query
                    .form-group
                      %label.form-label{ for: 'contract-address' } Contract address
                      %input.form-control#contract-address{ name: 'contractAddress', required: true, placeholder: 'smart-contract-address123...' }
                    .form-group
                      .row
                        .col-md-6
                          %label.form-label{ for: 'function-name' } Function name
                          %input.form-control#function-name{ name: 'functionName', placeholder: 'show...', required: true }
                    #params-container
                    .form-group
                      .text-center
                        %button.btn.btn-md.btn-light.w-100#add-new-param{ type: 'button' } + Param
                    %button.btn.btn-primary.btn-md#search-button{ type: 'submit' }
                      .d-none#loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      #ready
                        Submit
                    %p.mt-3
                      %b * When calling handle functions, please update gas fee as required.
              .card.my-3.d-none#result-container
                .card-body
                  %h3 Result
                  %pre.p-1.m-1.alert.alert-success.d-none#result-value
  .nk-ovm.shape-q
