.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container#aliases-new
          .row.mt-5
            .col-lg-6.offset-lg-3
              .card
                .card-body
                  %h3= features[:secret_network_aliases][:name]
                  %p Blockchain: #{features[:secret_network_aliases][:blockchain]}
                  %form{ name: 'aliasCreateForm' }
                    .mb-3
                      %input.form-control.w-100#alias{ name: 'alias', required: true }
                    = link_to 'Cancel', secret_network_aliases_path, class: 'btn btn-link', id: 'cancel-button'
                    %button.btn.btn-primary#create-button{ type: 'submit', disabled: true }
                      #loading
                        %span.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %span Loading...
                      .d-none#ready
                        Create

%main.nk-pages
