.row#secret-network-address-alias-profile
  .col-12
    .card.bg-light.my-3.d-none#result-container
      .row.d-none#result-value-container
        .col-sm-8.offset-sm-2.col-lg-6.offset-lg-3
          .card-body.bg-white{ style: 'border: 1px solid lightblue;' }
            #result-value
            %button.btn.btn-danger.w-100.mt-3.btn-md#delete-button
              .d-none#delete-loading
                %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                %em Loading...
              #delete-ready
                Delete
