.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container#aliases-new
          .row.mt-5
            .col-lg-6.offset-lg-3
              .card
                .card-body
                  %h3= features[:secret_network][:features][:address_alias][:name]
                  %p
                    Blockchain:
                    = cl_image_tag(features[:secret_network][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
                    = features[:secret_network][:name].to_s
                  %form{ name: 'aliasCreateForm' }
                    .mb-3
                      %input.form-control.w-100#alias{ name: 'alias', required: true }
                    = link_to 'Cancel', secret_network_address_alias_index_path, class: 'btn btn-light btn-md', id: 'cancel-button'
                    %button.btn.btn-primary.btn-md#create-button{ type: 'submit', disabled: true }
                      #loading
                        %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
                        %em Loading...
                      .d-none#ready
                        Create

%main.nk-pages
