%p.mb-0
  %b Environment:
  %span Staging / Testnet
  %input.input-switch#production-switch{ type: 'checkbox', checked: true }
  %label.d-inline.ml-1.mr-1{ for: 'production-switch' }
  %span Production
