.position-relative
  %a.fa.fa-info.position-absolute{ 'aria-controls' => 'exampleCollapseExample', 'aria-expanded' => 'true', 'data-toggle' => 'collapse', :href => '#exampleCollapseExample', style: 'right: 0px;' }
  %h3.mb-0= features[blockchain][:features][feature][:name]
%p.mb-0
  %b Blockchain:
  = cl_image_tag(features[blockchain][:cloudinary_public_id], width: 18, height: 18, crop: :fill, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto)
  = features[blockchain][:name]
- if show_environment_switch
  = render 'environment_switch'
