- extra_logo_classes ||= ''

%button.btn.btn-primary.no-change.keplr-wallet-button.d-none{ class: extra_button_classes, type: 'button' }
  .d-none.loading
    %em.spinner-grow.spinner-grow-sm{ 'aria-hidden' => 'true', :role => 'status' }
    %em Loading...
  .ready
    = cl_image_tag('logos/b8thbiihwftyjolgjjz2_dhy5mr', height: 14, crop: :scale, dpr: 2, aspect_ratio: 1, fetch_format: :auto, quality: :auto, style: 'height: 20px;', class: "mr-1 #{extra_logo_classes}")
    Connect wallet
