%p.mb-0#feature-contracts
  %b
    Contract:
  - if production_contract
    = link_to production_contract, "https://secretnodes.com/secret/chains/secret-2/contracts/#{production_contract}", target: '_blank', rel: 'noopener', id: 'production-contract-link'
  - if staging_contract
    = link_to staging_contract, "https://secretnodes.com/secret/chains/holodeck-2/contracts/#{staging_contract}", target: '_blank', rel: 'noopener', class: 'd-none', id: 'staging-contract-link'
