.container
  .row.mt-5
    .col-12
      %h1 About
      %ul
        %li We develop software for blockchain.
        %li Current focus is the Secret Network blockchain.
        %li Simplicity, transparency and communication are key.
      %h5 Team
      .row
        .col-sm-6.col-md-4.col-lg-3
          .card
            .card-body
              %img.card-img-top{ src: 'https://res.cloudinary.com/hv5cxagki/image/upload/v1620523941/team/14280689_uuuoab.jpg' }
              .card-title Steven Chang
              .card-text Founder / CTO
              .card-text Sydney, Australia
        .col-sm-6.col-md-4.col-lg-3
          .card
            .card-body
              .card-title Chris Asnins
              .card-text Creative
              .card-text Brisbane, Australia
      -# %h5 The tech stack
      -# %p Ruby on rails for the app. Rust smart contracts on the Secret Network.

      -# %h5 Keep it simple
      -# %p Write very simple, easy to understand smart contracts: I had money in the vbSWAP stake pool when their stake contract got exploited. What's funny is that I did a code review for AutoFarm, Beefi and Value, and thought that Value was the most high tech. One thing I thought though while I was reviewing the value contracts was that it was very complex, a single staking pool required a vault contract, a controller contract, several farming strategy conctracts, a vault master contract and then the actual third party contract. On top of that there were several different roles, a deployer, a timelock contract, a strategist etc etc.

      -# %p All this is great, but with complexity comes, a bigger chance for error. As a developer myself, I can feel the pressure the devs are under. Simplicity is key.

      -# %h5 Build in insurance
      -# %p One thing that value exploit taught me was to build in a reserve fund. Accidents, hacks and theft happens. I was so impressed that the value team had a reserve fund to give us some of our money back and then came up with a really quick minting and burning plan to reimburse people. Some people suggest that it's DEFI and you should expect to lose it all in a hack, I don't agree. Just because finance is decentralized, doesn't mean the community and the devs can't agree on and build in a reserve fund tax.
