.h-100.header-banner#arbitrage
  .nk-banner.pb-5
    .banner.banner-page
      .mt-3.mt-lg-5.w-100
        .container
          .row.mb-5
            .col-12
              .card.my-3
                %h3 Arbitrage
                %p.mb-0
                  %input.input-switch#audio-alerts{ type: 'checkbox', checked: false }
                  %label.d-inline.ml-1.mr-1{ for: 'audio-alerts' }
                  %span Audio alerts
                  %audio#bird-audio{ src: 'audios/birds.mp3' }
                .table-responsive
                  %table.table.table-striped#arbitrage-table
  .nk-ovm.shape-f
