.h-100.header-banner#arbitrage
  .nk-banner.pb-5
    .banner.banner-page
      .mt-3.mt-lg-5.w-100
        .container
          .row.mb-5
            .col-12
              .card.my-3
                %h3 Arbitrage
                .table-responsive
                  %table.table.table-striped#arbitrage-table
  .nk-ovm.shape-f
