.header-banner.bg-theme-grad.has-ovm
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container
          .row.justify-content-center
            .col-xl-6.col-lg-9
              .banner-caption.cpn.tc-light.text-center
                .cpn-head
                  %h2.title.ttu Blog
  / .nk-banner
  .nk-ovm.shape-a-sm
%main.nk-pages
  %section.section.bg-light#roadmap
    .container
      .nk-block.nk-block-left
        .roadmap-all.mgb-m50
          .roadmap-wrap.roadmap-wrap-s1.roadmap-wrap-done.mb-0.ml-0
            .row.no-gutters
              .col-lg
                %h4 Thoughts on governance
                .text-muted 17th August 2021
                %h6 Summary: We don't like it.
                %p From what we've seen from "democracies" around the world, especially recently, it doesn't work and is open to heavy manipulation.
                %p We spent such a huge amount of time figuring out how make governance work with our set up and built it in. When researching the governance of many blockchains and seeing how all of our real world national governments be incredibly corrupted, we realised that creating this pretend democracy was just replicating a broken system. We are going for a no governance, immutable code structure as Blockchain was meant to be.
                %hr
                %h4 Thoughts on distributing Buttcoin
                .text-muted 17th August 2021
                %p Thought heavily about how much to hand out to other users. Well now that we've decided that governance is a massive fail, the use of the token is for utility and profit sharing. So that the early investors that helped us build this win out, we'll be burning most of the generated tokens and be distributing minimally to the users.
                %p To keep it really simple, we'll be selling the initial 20% as planned, burning the 20% that is for the staff, distributing 20% linearly to people that stake BUTT-sWBTC lp tokens. The other 40% will be burnt.
                %p This way early investors don't get their initial investment diluted.
                %p We spent ages working on the Buttcoin Distributor for the yield optimizer, but in the end, it just didn't make any sense considering our findings on governance and we also didn't like it would need regular intervention by an admin. We are determined to stick with the ethos of Blockchain, which is all about trustless immutable code.
                %hr
