.header-banner.bg-theme-grad.has-ovm
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container
          .row.justify-content-center
            .col-xl-6.col-lg-9
              .banner-caption.cpn.tc-light.text-center
                .cpn-head
                  %h2.title.ttu Company compass
                  %p.text-white When we need some direction...
  / .nk-banner
  .nk-ovm.shape-a-sm
%main.nk-pages.bg-light
  .section.section-about
    .container
      / Block @s
      .nk-block
        .row
          .col-lg-6.mb-3= cl_image_tag 'company_compass/ia6zkNtMdjJmrzjRUYUohm_c9yinm', width: 666, crop: :scale, dpr: 2, fetch_format: :auto
          .col-lg-6.mb-3= cl_image_tag 'company_compass/c688498efff0c246b0cc4410cdfeba0491c0cb4df046c2b755300020fe4d6b2e_1_ems4kb', width: 999, crop: :scale, dpr: 2, fetch_format: :auto
          .col-lg-6.mb-3= cl_image_tag 'company_compass/external-content.duckduckgo-1_zq5ufo', width: 666, crop: :scale, dpr: 2, fetch_format: :auto
