.container
  .row.mt-5
    .col-12
      %h1 btn.group
      %table.table-striped.table
        %thead
          %tr
            %th{ scope: 'col' } Feature
            %th{ scope: 'col' } Blockchain
        %tbody
          - features.each do |key, value|
            %tr
              %td= link_to key.to_s.underscore.humanize, "/#{key.to_s.underscore}", class: 'text-decoration-none'
              %td= value[:blockchain]
