.header-banner.bg-theme-grad-s2
  .nk-banner
    .banner.banner-fs.banner-single.banner-s1.banner-s1-overlay
      .banner-wrap
        .container
          .row.align-items-center.justify-content-center.justify-content-lg-between.gutter-vr-60px
            .col-lg-6.col-xl-5.col-md-8.col-sm-9.order-last
              .token-status.token-status-s3.round.bg-theme.tc-light
                %h4.title-md.title-thin Pre-Sale Ends In
                .countdown-s2.countdown{ 'data-date' => '2021/08/10 20:00:00' }
                .token-info.token-info-s1
                  .token-info-item.token-info-item-s1
                    .token-info-item-list
                      %span Token Price:
                      %h4 1 ICOX=$0.02
                    .token-info-item-list
                      %span We Accept:
                      %h4
                        %em.fab.fa-ethereum
                        ETH
                  .token-info-item.token-info-item-s1
                    %span
                      Tokens Availablen
                      %br.d-none.d-md-block/
                      on Pre-Sale:
                    %h4 90,000,000 ICOX
                .token-action.token-action-s2.flex-wrap.flex-sm-nowrap
                  %a.btn.btn-md.btn-secondary{ href: '#' } Buy Tokens Now
                  .token-min-s2
                    %span Minimum Purchase:
                    %span 10,000 ICOX
            .col-lg-6.col-xl-6.text-center.text-lg-left
              .banner-caption.tc-light
                .cpn-head.mt-0
                  %h1.title.title-thin.title-xl-2 We develop software for blockchain.
                .cpn-text.cpn-text-s2
                  %p.lead-s2.lead-light Simplicity, transparency and communication are key.
                .cpn-btns
                  %ul.btn-grp
                    %li
                      %a.btn.btn-md.btn-primary.btn-outline{ href: '#' } White Paper
                    %li
                      %a.btn.btn-md.btn-primary.btn-outline{ href: '#' } One Pager
                .cpn-social
                  %h4.title-xs JOIN OUR COMMUNITY
                  %ul.social
                    %li
                      %a{ href: '#' }
                        %em.social-icon.fas.fa-paper-plane
                        %span Telegram
                    %li
                      %a{ href: '#' }
                        %em.social-icon.fab.fa-facebook-f
                    %li
                      %a{ href: '#' }
                        %em.social-icon.fab.fa-twitter
                    %li
                      %a{ href: '#' }
                        %em.social-icon.fab.fa-youtube
                    %li
                      %a{ href: '#' }
                        %em.social-icon.fab.fa-github
                    %li
                      %a{ href: '#' }
                        %em.social-icon.fab.fa-medium-m
  .nk-ovm.shape-q
  .particles-container.particles-bg#particles-bg{ 'data-pt-base' => '#00c0fa', 'data-pt-base-op' => '.3', 'data-pt-line' => '#2b56f5', 'data-pt-line-op' => '.5', 'data-pt-shape' => '#00c0fa', 'data-pt-shape-op' => '.2' }
%main.nk-pages
%section.section.bg-light#about
  .container
    .nk-block.nk-block-features-s2
      .row.align-items-center.flex-row-reverse.gutter-vr-30px
        .col-lg-5
          .gfx.py-4.mx-auto.mx-lg-0
            %img{ alt: 'gfx', src: 'ico-crypto-html-v1.9.3/main-html/images/salvia/gfx-i.png' }
        .col-lg-7
          .nk-block-text.pdb-r
            %h2.title.title-thin About ICO Crypto
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            %p Deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
          .row.gutter-vr-20px.flex-wrap
            .col-sm-6
              .feature.feature-s1
                .feature-icon.feature-icon-s5.feature-icon-s5-1
                  %em.icon.fas.fa-check
                .feature-text.feature-text-s1
                  %p Makes you the sole owner of a secure decentralize registry
            .col-sm-6
              .feature.feature-s1
                .feature-icon.feature-icon-s5.feature-icon-s5-2
                  %em.icon.fas.fa-check
                .feature-text.feature-text-s1
                  %p It’s allows startups to launch and manage crowdfunding
            .col-sm-6
              .feature.feature-s1
                .feature-icon.feature-icon-s5.feature-icon-s5-3
                  %em.icon.fas.fa-check
                .feature-text.feature-text-s1
                  %p Our contributor payouts perfectly simple and easy
            .col-sm-6
              .feature.feature-s1
                .feature-icon.feature-icon-s5.feature-icon-s5-4
                  %em.icon.fas.fa-check
                .feature-text.feature-text-s1
                  %p Owners of cryptocurrency keep their digital coins in ICO
%section.section.bg-white#overview
  .container
    .nk-block.nk-block-features-s2
      .row.align-items-center.gutter-vr-30px
        .col-lg-6
          .gfx.py-4.mx-auto.mx-lg-0
            %img{ alt: 'gfx', src: 'ico-crypto-html-v1.9.3/main-html/images/salvia/gfx-j.png' }
        .col-lg-6
          .feature
            %h2.title-xl-2.title-thin.pdb-s Why?
            .feature-text.feature-text-s1
              %p Tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
          .feature
            %h2.title-xl-2.title-thin.pdb-s Mission
            .feature-text.feature-text-s1
              %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          .feature
            %h2.title-xl-2.title-thin.pdb-s How?
            .feature-text.feature-text-s1
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
%section.section.bg-light
  .container
    .nk-block.nk-block-features-s3
      .section-head.section-head-s7.wide-auto-sm.text-center
        %h2.title.title-thin Problems
        %p.lead On the global marketplace
      .row.justify-content-center.gutter-vr-30px
        .col-lg-4.col-md-6
          .feature.feature-s3.feature-center
            .feature-icon.feature-icon-auto
              %em.icon.icon-grd.icon-lg.ikon.ikon-globe
            .feature-text
              %h4.title-sm.title-semibold No World Wide Platform:
              %p.fw-4 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.
        .col-lg-4.col-md-6
          .feature.feature-s3.feature-center
            .feature-icon.feature-icon-auto
              %em.icon.icon-grd.icon-lg.ikon.ikon-shiled-4
            .feature-text
              %h4.title-sm.title-semibold No Safe Transactions:
              %p.fw-4 Ut enim ad minima veniam, quis nostrum exercitationem ullam suscipit no laboriosam, nisi ut aliquid eos qui ratione voluptatem sequi nesciunt.
        .col-lg-4.col-md-6
          .feature.feature-s3.feature-center
            .feature-icon.feature-icon-auto
              %em.icon.icon-grd.icon-lg.ikon.ikon-wallet
            .feature-text
              %h4.title-sm.title-semibold No Global Payment Systems:
              %p.fw-4 Sed do eiusmod tempor incididunt ut labore et dolore aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris fugiat runull dolore magna.
    .nk-block.nk-block-features-s3
      .section-head.section-head-s7.wide-auto-sm.text-center
        %h2.title.title-thin Solutions
        %p.lead Our method and vision
      .row.justify-content-center.gutter-vr-30px
        .col-lg-4.col-md-6
          .feature.feature-s3.feature-center
            .feature-icon.feature-icon-auto
              %em.icon.icon-grd.icon-lg.ikon.ikon-cloud
            .feature-text
              %h4.title-sm.title-semibold Global Single-Platform:
              %p.fw-4 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        .col-lg-4.col-md-6
          .feature.feature-s3.feature-center
            .feature-icon.feature-icon-auto
              %em.icon.icon-grd.icon-lg.ikon.ikon-safety
            .feature-text
              %h4.title-sm.title-semibold Be Safe and Secure:
              %p.fw-4 Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid eos qui ratione voluptatem sequi nesciunt.
        .col-lg-4.col-md-6
          .feature.feature-s3.feature-center
            .feature-icon.feature-icon-auto
              %em.icon.icon-grd.icon-lg.ikon.ikon-cash
            .feature-text
              %h4.title-sm.title-semibold Decentralize Payment Systems
              %p.fw-4 Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim, quis nostrud exercitation ullamco laboris fugiat runull dolore magna.
%section.section.bg-theme.ov-h.text-center.tc-light.overlay-x
  .container
    .nk-block.nk-block-text-wrap
      .row.align-items-center.justify-content-center
        .col
          .nk-block-text
            %h3.fw-3.pb-2
              %span.h1.fw-3.pb-3.d-block The main issue
              of decentralizing decision-making  and transparency and reliability
            %p.lead-s2
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              %br.d-none.d-lg-block/
              deleniti atque corrupti quos dolores et quas molestias.
%section.section.bg-white.ov-h.text-center#works
  .section-head.section-head-s7.wide-auto-xs
    %h2.title.title-thin How it works
    %p.lead Our Ecosystem based on blockchain and we solved issues of current and future
  .container
    .nk-block.nk-block-text-wrap
      .nk-block-text
        .row.justify-content-center
          .col-lg-8
            .feature-slider-dots
              %button.feature-slider-dot.owl-dots
                %em.ikon.ikon-paricle
              %button.feature-slider-dot.owl-dots
                %em.ikon.ikon-user-setting
              %button.feature-slider-dot.owl-dots
                %em.ikon.ikon-clip-board
              %button.feature-slider-dot.owl-dots
                %em.ikon.ikon-user-chat
              %button.feature-slider-dot.owl-dots
                %em.ikon.ikon-car
            .feature-slider-pane.has-carousel.owl-carousel{ 'data-animate-out' => 'fadeOut', 'data-custom-dots' => 'feature-slider-dots', 'data-dots' => 'true', 'data-items' => '1' }
              .ft-slider-pane-item.pane-item-1
                %h5.animate-up.delay-5ms Build blockchain algotrading models
                %p.animate-up.delay-6ms This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.
                %p.animate-up.delay-7ms We will establish an incentivizing mechanism numquam eius modi tempora, incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.
              .ft-slider-pane-item.pane-item-2
                %h5.animate-up.delay-5ms Connect with others blockchain mod.
                %p.animate-up.delay-6ms This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.
                %p.animate-up.delay-7ms We will establish an incentivizing mechanism numquam eius modi tempora, incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.
              .ft-slider-pane-item.pane-item-3
                %h5.animate-up.delay-5ms Target your goal to reach out.
                %p.animate-up.delay-6ms This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.
                %p.animate-up.delay-7ms We will establish an incentivizing mechanism numquam eius modi tempora,incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.
              .ft-slider-pane-item.pane-item-4
                %h5.animate-up.delay-5ms Protect your blockchain models.
                %p.animate-up.delay-6ms This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.
                %p.animate-up.delay-7ms We will establish an incentivizing mechanism numquam eius modi tempora, incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.
              .ft-slider-pane-item.pane-item-5
                %h5.animate-up.delay-5ms Make transaction easy and with a less fee.
                %p.animate-up.delay-6ms This makes it much easier for both quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.
                %p.animate-up.delay-7ms We will establish an incentivizing mechanism numquam eius modi tempora,incidunt ut labore et dolore magnam aliquam quaerat volup  tatem.
%section.section.bg-light
  .container
    .nk-block.nk-block-features-s2
      .row.align-items-center.flex-row-reverse.justify-content-between.gutter-vr-30px
        .col-lg-7
          .gfx.gfx-auto.mb-lg-3
            %img{ alt: 'gfx', src: 'ico-crypto-html-v1.9.3/main-html/images/app-screens/sc-large-k.png' }
        .col-lg-4
          .section-head.pb-lg-0
            %h2.title.title-thin Introducing ICO Usercenter
            %p First of we release our major update with usercenter design which is most important part of ICO Token Sales management. It allows to manage whole process of tokens sales.
      .row.features-list.flex-wrap.gutter-vr-30px
        .col-lg-3.col-sm-6
          .feature.feature-s1.feature-s1-1.boxed.boxed-xs.bg-white.bordered
            .feature-icon.feature-icon-s5.feature-icon-s5-1
              %em.icon.fas.fa-check
            .feature-text.feature-text-s1
              %span.title-xs-alt.title-mid Safe & Secure Transactions
        .col-lg-3.col-sm-6
          .feature.feature-s1.feature-s1-2.boxed.boxed-xs.bg-white.bordered
            .feature-icon.feature-icon-s5.feature-icon-s5-2
              %em.icon.fas.fa-check
            .feature-text.feature-text-s1
              %span.title-xs-alt.title-mid Encrypted and Kept Private
        .col-lg-3.col-sm-6
          .feature.feature-s1.feature-s1-3.boxed.boxed-xs.bg-white.bordered
            .feature-icon.feature-icon-s5.feature-icon-s5-3
              %em.icon.fas.fa-check
            .feature-text.feature-text-s1
              %span.title-xs-alt.title-mid Multiple Payment Gateway
        .col-lg-3.col-sm-6
          .feature.feature-s1.feature-s1-4.boxed.boxed-xs.bg-white.bordered
            .feature-icon.feature-icon-s5.feature-icon-s5-4
              %em.icon.fas.fa-check
            .feature-text.feature-text-s1
              %span.title-xs-alt.title-mid KYC Verification
%section.bg-theme#token
  .section.section-tokendes.tc-light
    .container
      .section-head.section-head-s7.text-center.wide-auto-sm
        %h2.title.title-thin
          ICO Crypto
          = succeed 'Token' do
            %br/
        %p.lead Our initial coin offering will run till softcap reached.Full details of the ICO can be found within the platform.
      / .section-head @e
      / .block @s
      .nk-block
        .token-box-top
          .row.gutter-vr-30px
            .col-lg-4.col-md-6
              .token-sale-box
                %span.token-sale-info 24,000,000
                %span.token-sale-title TOTAL TOKEN SUPPLY
            .col-lg-4.col-md-6
              .token-sale-box
                %span.token-sale-info 20,000,000
                %span.token-sale-title HARDCAP (ICOX)
            .col-lg-4.col-md-6
              .token-sale-box
                %span.token-sale-info 5,000,000
                %span.token-sale-title SOFTCAP (ICOX)
            .col-lg-4.col-md-6
              .token-sale-box
                %span.token-sale-info 14,400,000
                %span.token-sale-title TOKENS FOR PUBLIC
            .col-lg-4.col-md-6
              .token-sale-box
                %span.token-sale-info $0.50 USD
                %span.token-sale-title ICO TOKEN PRICE
            .col-lg-4.col-md-6
              .token-sale-box
                %span.token-sale-info ETH, BTC, USD
                %span.token-sale-title ACCEPTED CURRENCY
      .nk-block
        .token-box-bottom
          .section-head.section-head-s7.text-center.wide-auto-sm
            %h2.title.title-thin Bonus Details
          .row.justify-content-center
            .col-xl-3.col-md-4
              .token-bonus-item.one
                %span.token-bonus-title PRE-SALE
                %span.token-bonus-percent 25%
                %span.token-bonus-txt Bonus
            .col-xl-3.col-md-4
              .token-bonus-item.two
                %span.token-bonus-title ICO SALE - WEEK 1
                %span.token-bonus-percent 15%
                %span.token-bonus-txt Bonus
            .col-xl-3.col-md-4
              .token-bonus-item.three
                %span.token-bonus-title ICO SALE - WEEK 2
                %span.token-bonus-percent 0%
                %span.token-bonus-txt Bonus
          .text-center.pdt-r
            %a.btn.btn-lg.btn-secondary{ href: '' } Buy ICO Crypto Tokens Now
  .section-tokendes
    .container
      .nk-block.nk-block-alocation.mgb-m30
        .row
          .col-lg-6
            .token-alocate-item
              .token-alocate-graph
                %img{ alt: 'icon', src: 'ico-crypto-html-v1.9.3/main-html/images/icon.png' }
                %span
                  Token
                  %br/
                  Allocation
                %canvas.chart-canvas#token-alocate-salvia2
              %ul.chart-data{ 'data-canvas' => 'token-alocate-salvia2', 'data-canvas-cutout' => '77', 'data-canvas-type' => 'doughnut' }
                %li{ 'data-amount' => '60', 'data-color' => '#6d6af6', 'data-title' => 'Token Sale Program' }
                %li{ 'data-amount' => '8', 'data-color' => '#f0a561', 'data-title' => 'Reserve Fund' }
                %li{ 'data-amount' => '15', 'data-color' => '#7dbef9', 'data-title' => 'Team and Founders' }
                %li{ 'data-amount' => '4', 'data-color' => '#7adac9', 'data-title' => 'Board Advisors' }
                %li{ 'data-amount' => '7', 'data-color' => '#7654e1', 'data-title' => 'Ecosystem Development' }
                %li{ 'data-amount' => '6', 'data-color' => '#371e8d', 'data-title' => 'Marketing and Bounty' }
          .col-lg-6
            .token-alocate-item
              .token-alocate-graph
                %img{ alt: 'icon', src: 'ico-crypto-html-v1.9.3/main-html/images/icon.png' }
                %span
                  Funds
                  %br/
                  Allocation
                %canvas.chart-canvas#fund-alocate-salvia2
              %ul.chart-data{ 'data-canvas' => 'fund-alocate-salvia2', 'data-canvas-cutout' => '77', 'data-canvas-type' => 'doughnut' }
                %li{ 'data-amount' => '40', 'data-color' => '#371e8d', 'data-title' => 'Engineering and Development' }
                %li{ 'data-amount' => '12', 'data-color' => '#7654e1', 'data-title' => 'Business Development' }
                %li{ 'data-amount' => '20', 'data-color' => '#7adac9', 'data-title' => 'Marketing & Promotion' }
                %li{ 'data-amount' => '10', 'data-color' => '#72a3f4', 'data-title' => 'Legal & Regulation' }
                %li{ 'data-amount' => '8', 'data-color' => '#f0a561', 'data-title' => 'Operational & Administration' }
                %li{ 'data-amount' => '4', 'data-color' => '#da6bc1', 'data-title' => 'Contingency' }
                %li{ 'data-amount' => '6', 'data-color' => '#371e8d', 'data-title' => 'Partners' }
    .nk-ovm.ovm-bottom.ovm-h-40.bg-light
  .nk-ovm.nk-ovm-fixed.shape-q
%section.section.bg-white#roadmap
  .container
    .section-head.section-head-s9.wide-md
      %h2.title Road Map
    .nk-block.nk-block-left
      .roadmap-all.mgb-m50
        .roadmap-wrap.roadmap-wrap-done.roadmap-wrap-s1.roadmap-wrap-s1-alt.mb-0.ml-0
          .row.no-gutters
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.roadmap-done.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2017 Q1
                    %span.roadmap-title.roadmap-title-s1 Concept
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li Concept Generation
                    %li Team Assemble
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.roadmap-done.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2017 Q2
                    %span.roadmap-title.roadmap-title-s1 Research
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li Proving the concept can work
                    %li Strategic Plan
                    %li White paper conpletion
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.roadmap-done.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2018 Q1
                    %span.roadmap-title.roadmap-title-s1 Design
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li Platform design and technical demonstration
                    %li Building the MVP
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.roadmap-done.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2018 Q2
                    %span.roadmap-title.roadmap-title-s1 Pre-Sale
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li Public financing & Seed funding raised
        .roadmap-wrap.roadmap-wrap-s1.roadmap-wrap-s1-alt.mb-0.ml-0
          .row.flex-row-reverse.no-gutters
            .col-lg
              .roadmap.roadmap-current.roadmap-s1.roadmap-s1-alt.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2018 Q3
                    %span.roadmap-title.roadmap-title-s1 App Beta Test
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li Private closed beta
                    %li Open beta launched to public and improvement the app
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2018 Q4
                    %span.roadmap-title.roadmap-title-s1 Token Sale
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li ICO Press Tour
                    %li Open global sales of ICOblock token
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2018 Q1
                    %span.roadmap-title.roadmap-title-s1 Alpha Test
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li In-house testing of functional
                    %li Prototype published and linked to Ethereum blockchain with real-time scanning
        .roadmap-wrap.roadmap-wrap-s1.roadmap-wrap-s1-alt.mb-lg-0.ml-0
          .row.no-gutters
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2019 Q2
                    %span.roadmap-title.roadmap-title-s1 Crowdfunding Integration
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li Smart contracts support creators
                    %li Ethereum tokens support
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2019 Q3
                    %span.roadmap-title.roadmap-title-s1 Community Benefits
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li Establishing global user base
                    %li US start retailer selection
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2019 Q3
                    %span.roadmap-title.roadmap-title-s1 Hardware things
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li Integration of third party controllers
                    %li Marketplace cooperative module
            .col-lg
              .roadmap.roadmap-s1.roadmap-s1-alt.text-lg-center
                .roadmap-step.roadmap-step-s1
                  .roadmap-head.roadmap-head-s1
                    %span.roadmap-time.roadmap-time-s1 2020 Q1
                    %span.roadmap-title.roadmap-title-s1 More Operational
                  %ul.roadmap-step-list.roadmap-step-list-s1
                    %li Integration with Private Chains, More Coin in Wallet
                    %li New services offered by members or business
%section.section.bg-theme.ov-h.text-center.tc-light.overlay-x
  .container
    .section-head.section-head-s7.wide-auto-sm
      %h2.title.title-thin Beta Products
      %p.lead ICO Backend is the ICO token sales management software,which helps you to lunch and mange your ICO.
    .nk-block.nk-block-text-wrap
      .row.justify-content-center.gutter-vr-30px
        .col-lg-5
          %a.product-box{ href: '#' }
            %h5.product-name USER DASHDOARD
            .product-image
              %img{ alt: 'prdouct', src: 'ico-crypto-html-v1.9.3/main-html/images/products/c.jpg' }
        .col-lg-5
          %a.product-box{ href: '#' }
            %h5.product-name Admin DASHDOARD
            .product-image
              %img{ alt: 'prdouct', src: 'ico-crypto-html-v1.9.3/main-html/images/products/d.jpg' }
%section.section.bg-white#team
  .container
    .section-head.section-head-s7.text-center.wide-auto-sm
      %h2.title.title-thin Team
    .nk-block.nk-block-team-list
      .row.justify-content-center
        .col-lg-3.col-sm-6
          .team
            .team-photo.team-photo-s2
              %img{ alt: 'team', src: 'https://res.cloudinary.com/hv5cxagki/image/upload/ar_1,c_fill,dpr_2,f_auto,h_277,q_auto,w_230/v1620523941/team/14280689_uuuoab' }
            %h5.team-name.title.title-sm Steven Chang
            .block Founder & CTO
            .team-position Sydney, Australia
        .col-lg-3.col-sm-6
          .team
            .team-photo.team-photo-s2
              %img{ alt: 'team', src: 'https://res.cloudinary.com/hv5cxagki/image/upload/ar_1,c_fill,dpr_2,f_auto,h_277,q_auto,w_230/v1620884680/team/image000000-3_2_u1df0q' }
            %h5.team-name.title.title-sm Chris Asnins
            .block Creative
            .team-position Brisbane, Australia
        .col-lg-3.col-sm-6
          .team
            .team-photo.team-photo-s2
              %img{ alt: 'team', src: 'https://res.cloudinary.com/hv5cxagki/image/upload/ar_1,c_fill,dpr_2,f_auto,h_270,q_auto,w_230/v1620865143/team/IMG_1589_fbdtba' }
            %h5.team-name.title.title-sm Ella Kabel
            .block Data analyst
            .block.team-position Brisbane, Australia
%section.section.bg-light-alt#faq
  .container
    .row.justify-content-between.gutter-vr-30px
      .col-lg-4
        .section-head.section-head-s7.wide-auto-sm.text-lg-left.text-center
          %h2.title.title-thin FAQs
          %p.lead Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few others common question answers. If you have any other questions, please get in touch via email.
      / .col
      .col-lg-7
        .accordion#faq-36
          .accordion-item.accordion-item-s3
            %h5.accordion-title.accordion-title-sm{ 'data-target' => '#faq-36-1', 'data-toggle' => 'collapse' }
              What is ICO Crypto?
              %span.accordion-icon.accordion-icon-s1
            .collapse.show#faq-36-1{ 'data-parent' => '#faq-36' }
              .accordion-content
                %p ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
          .accordion-item.accordion-item-s3
            %h5.accordion-title.accordion-title-sm.collapsed{ 'data-target' => '#faq-36-2', 'data-toggle' => 'collapse' }
              What cryptocurrencies can I use to purchase?
              %span.accordion-icon.accordion-icon-s1
            .collapse#faq-36-2{ 'data-parent' => '#faq-36' }
              .accordion-content
                %p ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
          .accordion-item.accordion-item-s3
            %h5.accordion-title.accordion-title-sm.collapsed{ 'data-target' => '#faq-36-3', 'data-toggle' => 'collapse' }
              How can I participate in the ICO Token sale?
              %span.accordion-icon.accordion-icon-s1
            .collapse#faq-36-3{ 'data-parent' => '#faq-36' }
              .accordion-content
                %p ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
          .accordion-item.accordion-item-s3
            %h5.accordion-title.accordion-title-sm.collapsed{ 'data-target' => '#faq-36-4', 'data-toggle' => 'collapse' }
              How do I benefit from the ICO Token?
              %span.accordion-icon.accordion-icon-s1
            .collapse#faq-36-4{ 'data-parent' => '#faq-36' }
              .accordion-content
                %p ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.
%section.section.section-contact.bg-white#contact
  .container
    .nk-block.block-contact
      .row.justify-content-between.gutter-vr-30px
        .col-lg-4
          .section-head.section-head-sm.section-head-s7.wide-auto-sm.text-lg-left.text-center
            %h2.title.title-thin Get In Touch
            %p.lead Any question? Reach out to us and we’ll get back to you shortly
          %ul.contact-list.contact-list-s2.gutter-30px
            %li
              %em.contact-icon.fas.fa-phone
              .contact-text
                %span +44 0123 4567
            %li
              %em.contact-icon.fas.fa-envelope
              .contact-text
                %span info@company.com
            %li
              %em.contact-icon.fas.fa-paper-plane
              .contact-text
                %span Join us on Telegram
        .col-lg-7
          .bg-light.round
            %form.contact-form.contact-form-s2.boxed.boxed-md.nk-form-submit#contact-form{ action: 'form/contact.php', method: 'post' }
              .field-item.field-item-s2
                %input.input-bordered.input-bordered-lg.input-bordered-light.required{ name: 'contact-name', placeholder: 'Your Name', type: 'text' }
              .field-item.field-item-s2
                %input.input-bordered.input-bordered-lg.input-bordered-light.required.email{ name: 'contact-email', placeholder: 'Your Email', type: 'email' }
              .field-item.field-item-s2
                %textarea.input-bordered.input-bordered-lg.input-bordered-light.input-textarea.required{ name: 'contact-message', placeholder: 'Your Message' }
              %input.d-none{ name: 'form-anti-honeypot', type: 'text', value: '' }
              .row
                .col-sm-12
                  %button.btn.btn-md.btn-primary{ type: 'submit' } Submit
                .col-sm-12
                  .form-results
