.container
  .row.mt-5
    .col-12
      %table.table-striped.table
        %thead
          %tr
            %th{ scope: 'col' } Name
            %th{ scope: 'col' } Category
        %tbody
          %tr
            %td=link_to 'Address alias', aliases_search_path
            %td utility
          %tr
            %td Farm manager
            %td defi