.container
  .row.mt-5
    .col-12
      %h1 btn.group
      %table.table-striped.table
        %thead
          %tr
            %th{ scope: 'col' } Feature
            %th{ scope: 'col' } Blockchain
            %th{ scope: 'col' } Status
        %tbody
          - features.each do |key, value|
            %tr
              %td= link_to value[:name], "/#{key.to_s.underscore}", class: 'text-decoration-none'
              %td= value[:blockchain]
              %td= value[:status]
