%nav.navbar{ style: "background-color: #17a2b8" }
  .container-fluid
    %a.navbar-brand.text-white{ href: "#" } Pay me crypto

.container
  .row.mt-5
    .col-lg-6.offset-lg-3
      .card
        .card-body
          %h1 Invoice
          %form
            .mb-3
              %label{ for: 'secret-address' } To (secret address)
              %input#secret-address.form-control.w-100{:placeholder => "secret..."}
            .mb-3
              %label{ for: 'message' } Description
              %input#message.form-control.w-100{:placeholder => "Coffee"}
            .mb-3
              .row
                .col-sm-9
                  %label{ for: 'amount' } Amount
                  %input#amount.form-control.w-100{:placeholder => "420.69"}
                .col-sm-3
                  %label{ for: 'currency' } Currency
                  %select.form-select.w-100#currency
                    %option{ value: "AUD" } AUD$
                    %option{ value: "USD" } USD$
                    %option{ value: "sscrt" } sSCRT
                    %option{ value: "swbtc" } sWBTC
                    %option{ value: "seth" } sETH
            %hr
            .mb-3
              %label Payment options
              .col-12
                .form-check.form-check-inline
                  %input#seth-check.form-check-input{:type => "checkbox", :value => "seth"}
                  %label.form-check-label{:for => "seth-check"}
                    sETH
                .form-check.form-check-inline
                  %input#sscrt-check.form-check-input{:type => "checkbox", :value => "sscrt"}
                  %label.form-check-label{:for => "sscrt-check"}
                    sSCRT
                .form-check.form-check-inline
                  %input#swbtc-check.form-check-input{:type => "checkbox", :value => "swbtc"}
                  %label.form-check-label{:for => "swbtc-check"}
                    sWBTC
            %input.btn.btn-primary{ type: 'submit', value: 'Create' }


      .card.mt-5
        .card-body{ style: 'height: 466px;'}
          %h1 ... Generating invoice

      .card.my-5
        .card-body
          %h1 Invoice
          %form
            .mb-3
              %label From
              %input.form-control{ value: 'secret1gwk7a42f8ncnv8gqzmyaucej4qupxamr8p2fz2', disabled: true }
            .mb-3
              %label{ for: 'message' } Description
              %input#message.form-control.w-100{value: "Coffee", disabled: true}
            .mb-3
              .row
                .col-sm-9
                  %label{ for: 'amount' } Amount
                  %input#amount.form-control.w-100{ value: 420.69, disabled: true}
                .col-sm-3
                  %label{ for: 'currency' } Currency
                  %select.form-select.w-100#currency{ disabled: true}
                    %option{ value: "AUD", selected: true } AUD$
                    %option{ value: "USD" } USD$
                    %option{ value: "sscrt" } sSCRT
                    %option{ value: "swbtc" } sWBTC
                    %option{ value: "seth" } sETH
            %hr
            .mb-3
              %label Payment options
              .col-12
                .form-check.form-check-inline
                  %input#seth-radio.form-check-input{:type => "radio", :value => "seth", name: 'crypto-choices'}
                  %label.form-check-label{:for => "seth-radio"}
                    sETH
                .form-check.form-check-inline
                  %input#sscrt-radio.form-check-input{:type => "radio", :value => "sscrt", name: 'crypto-choices', checked: true}
                  %label.form-check-label{:for => "sscrt-radio"}
                    sSCRT
                .form-check.form-check-inline
                  %input#swbtc-radio.form-check-input{:type => "radio", :value => "swbtc", name: 'crypto-choices'}
                  %label.form-check-label{:for => "swbtc-radio"}
                    sWBTC
            .mb-3
              %input.form-control{ value: '1.3321123121', disabled: true }
            %input.btn.btn-primary{ type: 'submit', value: 'Pay' }
