.container
  .row.mt-5
    .col-12
      %h1 btn.group
      %table.table-striped.table
        %thead
          %tr
            %th{ scope: 'col' } Feature
            %th{ scope: 'col' } Blockchain
        %tbody
          - Feature.find_each do |feature|
            %tr
              %td= link_to feature.name, feature_path(feature.slug), class: 'text-decoration-none'
              %td= feature.blockchain.humanize
