.header-banner.bg-theme-grad.has-ovm
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container
          .row.justify-content-center
            .col-xl-6.col-lg-9
              .banner-caption.cpn.tc-light.text-center
                .cpn-head
                  %h2.title.ttu Roadmap
  / .nk-banner
  .nk-ovm.shape-a-sm
%main.nk-pages
  %section.section.bg-light#roadmap
    .container
      .nk-block.nk-block-left
        .roadmap-all.mgb-m50
          .roadmap-wrap.roadmap-wrap-s1.roadmap-wrap-done.mb-0.ml-0
            .row.no-gutters
              .col-lg
                .roadmap.roadmap-s1.roadmap-s1.roadmap-done.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q1
                      %span.roadmap-title.roadmap-title-s1 Concept
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Concept Generation
                      %li Team Assemble
              .col-lg
                .roadmap.roadmap-s1.roadmap-s1.roadmap-done.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q1
                      %span.roadmap-title.roadmap-title-s1 Create core resources
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Website / Logo
              .col-lg
                .roadmap.roadmap-s1.roadmap-s1.roadmap-done.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q2
                      %span.roadmap-title.roadmap-title-s1 Auditing tools for Secret network
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Address alias
                      %li Smart contract interface
                      %li Transactions (SNIP-20)
          .roadmap-wrap.roadmap-wrap-s1.roadmap-wrap-done.mb-0.ml-0
            .row.flex-row-reverse.no-gutters
              .col-lg
                .roadmap.roadmap-s1.text-lg-center.roadmap-done
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q2
                      %span.roadmap-title.roadmap-title-s1 Seek funding
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li
                        Secret network foundation
                        = link_to 'grant application', 'https://github.com/SecretFoundation/Grants/issues/12', target: '_blank', rel: 'noopener'
              .col-lg
                .roadmap.roadmap-s1.roadmap-done.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q2
                      %span.roadmap-title.roadmap-title-s1 Button (BUTT)
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Create token
                      %li R & D tokenomics
                      %li Create and implement time lock contracts
                      %li Create and implement token sale contracts
                      %li Have all contracts reviewed
              .col-lg
                .roadmap.roadmap-done.roadmap-s1.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q3
                      %span.roadmap-title.roadmap-title-s1 Dapps
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Button distributor
                      %li Yield optimizer - SEFI staking
                      %li Profit distributor
                      %li Mount Doom
          .roadmap-wrap.roadmap-wrap-s1.mb-0
            .row.no-gutters
              .col-lg
                .roadmap.roadmap-done.roadmap-s1.roadmap-s1.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q4
                      %span.roadmap-title.roadmap-title-s1 Dapps & apps
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li NEAR: smart contract interface
                      %li Secret network: Address alias to take BUTT as payment
                      %li Secret network: Block locker
                      %li Secret network: BUTT lode
                      %li Secret network: DEX Aggregator
                      %li Secret network: Password manager
                      %li Secret network: Transactions update
                      %li Secret network: Yield optimizer - LP staking
              .col-lg
                .roadmap.roadmap-current.roadmap-s1.roadmap-s1.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2022 Q1
                      %span.roadmap-title.roadmap-title-s1 UI/UX & Marketing
