.header-banner.bg-theme-grad.has-ovm
  .nk-banner
    .banner.banner-page
      .banner-wrap
        .container
          .row.justify-content-center
            .col-xl-6.col-lg-9
              .banner-caption.cpn.tc-light.text-center
                .cpn-head
                  %h2.title.ttu Roadmap
  / .nk-banner
  .nk-ovm.shape-a-sm
%main.nk-pages
  %section.section.bg-light#roadmap
    .container
      .nk-block.nk-block-left
        .roadmap-all.mgb-m50
          .roadmap-wrap.roadmap-wrap-s1.roadmap-wrap-done.mb-0.ml-0
            .row.no-gutters
              .col-lg
                .roadmap.roadmap-s1.roadmap-s1.roadmap-done.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q1
                      %span.roadmap-title.roadmap-title-s1 Concept
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Concept Generation
                      %li Team Assemble
              .col-lg
                .roadmap.roadmap-s1.roadmap-s1.roadmap-done.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q1
                      %span.roadmap-title.roadmap-title-s1 Create core resources
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Website / Logo
              .col-lg
                .roadmap.roadmap-s1.roadmap-s1.roadmap-done.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q2
                      %span.roadmap-title.roadmap-title-s1 Auditing tools for Secret network
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Address alias
                      %li Smart contract interface
                      %li Transactions (SNIP-20)
          .roadmap-wrap.roadmap-wrap-s1.mb-0.ml-0
            .row.flex-row-reverse.no-gutters
              .col-lg
                .roadmap.roadmap-s1.text-lg-center.roadmap-done
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q2
                      %span.roadmap-title.roadmap-title-s1 Seek funding
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li
                        Secret network foundation
                        = link_to 'grant application', 'https://github.com/SecretFoundation/Grants/issues/12', target: '_blank', rel: 'noopener'
              .col-lg
                .roadmap.roadmap-s1.roadmap-current.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q2
                      %span.roadmap-title.roadmap-title-s1 Buttcoin (BUTT)
                    %ul.roadmap-step-list.roadmap-step-list-s1
                      %li Create token (DONE)
                      %li R & D tokenomics (DONE)
                      %li Create and implement time lock contracts
                      %li Create and implement token sale contracts
              .col-lg
                .roadmap.roadmap-s1.text-lg-center
                  .roadmap-step.roadmap-step-s1
                    .roadmap-head.roadmap-head-s1
                      %span.roadmap-time.roadmap-time-s1 2021 Q3
                      %span.roadmap-title.roadmap-title-s1 Yield Optimizer for Secret Swap
          -#     .col-lg
          -#       .roadmap.roadmap-s1.roadmap-s1.text-lg-center
          -#         .roadmap-step.roadmap-step-s1
          -#           .roadmap-head.roadmap-head-s1
          -#             %span.roadmap-time.roadmap-time-s1 2021 Q2
          -#             %span.roadmap-title.roadmap-title-s1 Launch pad for Secret network (WIP)
          -#           %ul.roadmap-step-list.roadmap-step-list-s1
          -#             %li R & D
          -#             %li Build / Test / Audit
          -#     .col-lg
          -#       .roadmap.roadmap-s1.roadmap-s1.text-lg-center
          -#         .roadmap-step.roadmap-step-s1
          -#           .roadmap-head.roadmap-head-s1
          -#             %span.roadmap-time.roadmap-time-s1 2021 Q2
          -#             %span.roadmap-title.roadmap-title-s1 Buttcoin Sale (WIP)
          -#           %ul.roadmap-step-list.roadmap-step-list-s1
          -#             %li Create partnerships
          -#             %li R & D Tokenomics
